.header{
    background-color: gray;
    color: rgb(255,255,255);
    display: flex;
    border: 3px solid rgb(241, 190, 126);
}

.footer{
    background-color: rgb(238, 149, 149);
    color: rgb(255,255,255);
    font-size: 200%;
    border: 3px solid gray;
}

.main{
    background-color: rgb(241, 190, 126);
    color: rgb(0,0,0);
    font-size: 200%;
}

